*{
    margin: 0px;
    pad: 0px;

}
/* navbar */
.blinkit-navbar{

    border-bottom: 1px solid rgb(238,238,238);
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    box-sizing: border-box;
    z-index: 1000;

}
.verical-line{
    border-left:1px solid rgb(238,238,238) ;
    height: 100%;
}

.location>p{
    font-size: 13px;
    font-weight: 400;
}

.search-bar{
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid rgb(238,238,238) ;
    padding: 10px;
    width: 40vw;
}

.search-bar>input{
    border: none;
    width: 95%;
    background-color: transparent;
    font-size: 14px;
    color: rgb(153,153,153);

}
.search-bar>input:focus{
    outline: none;
}
/* ////////////////////////////////////////////////////////////// */
/* Scrollabel bar */

.Scrolebar{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin-inline: auto;
    width: 82vw;
}

.list{
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}
.list>div{
    display: inline-block;
    margin: 10px;
}
/* ::-webkit-scrollbar{
    display: none;
} */

/* ///////////////////////////////////////////////////////////// */
/* Categories */

.Categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-inline: auto;
}

/* ////////////////////////////////////////////////////////////////// */

/* List-categories */

.heading-cat{
    margin-left: 140px;
}
.List-categories-div{
    width: 82vw;
    justify-content: center;
    margin-inline:auto;
    align-items: center;
    overflow-x: auto;
    display:flex;
    margin-bottom: 30px;
    
}
.my-card{
    width: 190px;
    box-sizing: border-box;
}
.time{
    font-size: 9px;
    font-weight:700 ;
    color:rgb(54,54,54) ;
    width: fit-content;
    padding:  1px 3px;

}
.product-name{
    color: rgb(31,31,31);
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;

}
   

.product-weight{
    color:#666666 ;
    font-size: 11px;
    
}   
.product-price{
    color: rgb(31,31,31);
    font-weight: 600;
    font-size: 12px;
}

.product-btn{
    border: 1px solid green;
    border-radius: 6px;
    background-color: rgb(247,255,249);
    color: rgb(49,134,22);
    width: 66px;
    font-weight: 700;
    padding: 5px 10px;

}

.List-categories-row{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}
.List-categories-row>div{
    margin: 10px;
}

/* ::-webkit-scrollbar{
    display: none;
}  */

/* //////////////////////////////////////////////////////// */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82vw;
    margin-inline: auto;
}

.row-1
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.table-1{
 margin-left: 0px;
 align-items: center;
}
.table-2{
 margin-left: 250px;
 width: 700px;
 align-items: start;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;

}
.row-2{
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
}
.row-2-col-1{
    width: 30vw;
}
.row-2-col-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

}
.row-2-col-2>button{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: none;
    background-color: #213b50;
    margin-inline: 5px;
}
.row-2-col-3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row-2-col-3>a{
    border-radius: 50%;
    background-color: #0c0c0c; 
    height: 40px;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px;     

}
.row-3{
    
    color:#666666 ;
    font-size: 15px;
    padding: 20px;
}

td{
    padding: 3px 20px;
    color: #666666;
    font-size: 16px;
    text-align: center;
}
.table-2{
    flex: 4;
}

.table-1{
    flex: 2;
}

/* //////////////////////////////////////////////////////////// */
